.backg{
  background:black;
  width:100vw;
  height:100vh;
  text-align: center;
  color:white;
   display:flex;
  align-items:center;
}
body{
position:relative;
margin:0;
height:100%;
}

img{
  border-radius: 50%;
  height:50vh;
  width:auto;
}
.profile{
  text-align: center;
  font-size:3vh;
}