.backg{
  background:black;
  width:100vw;
  height:100vh;
  text-align: center;
  color:white;
}
body{
position:relative;
margin:0;
height:100%;
}
p{
margin:0;
}
img{
  border-radius: 50%;
}
.profile{
  max-width: 25vw;
  height: auto;
  top: 50%;
  transform: translateY(-50%);
}