.backg{
  background:black;
  width:100vw;
  height:100vh;
  color:white;
   display:flex;
  align-items:center;
  justify-content:flex-start;
}
body{
position:relative;
margin:0;
height:100%;
}

img{
  border-radius: 50%;
  max-height:50vh;
  width:auto;
  max-width:25vw;
}
.profile{
  text-align: center;
  margin-left:7vw;
}
.aboutme{
  vertical-align: text-top;
  margin-left:7vw;
  padding-right:7vw
}
p{
  word-wrap: normal;
}